.banner-main {
    overflow: hidden;
}

.banner {
    height: 500px;
}

.bg-card {
    background: #282828;

}

.user {
    border-bottom: 1px solid #ffffff30;
}

.user-top {
    border-top: 1px solid #ffffff30;
}

.user-des {
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
}

.user-des h2 {
    font-size: 42px;
    font-weight: bold;
}

.user-des span {
    font-size: 22px;
    font-weight: 400;
}

.no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0;
}

.social-single-icon i {
    font-size: 44px;
}

.social-single-icon p {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
}

.footer-text i {
    font-size: 18px;
}

.footer-text p {
    font-size: 18px;
}

.share-sub a {
    display: block;
    background: #0AAFDD;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
}

.share-sub a i {
    font-size: 19px;
    margin-top: 14px;
}

.share-main {
    position: relative;
}

.share-sub {
    position: absolute;
    top: -24px;
    right: 0;
    z-index: 9999;
}

/* Media */

@media (max-width: 1720px) {
    .container-card-area {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .user-des {
        margin-left: 20px;
    }

    .user-des h2 {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .user-des span {
        font-size: 12px;
    }

    .social-single-icon p {
        font-size: 14px;
        margin: 0;
        margin-top: 10px;
    }

    .banner {
        height: 40vh;
    }
}